﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewBag.Title = "Lista de Ingresos";
}
<h2>Lista de Ingresos de la cuenta: @ViewBag.Cuenta.Nombre</h2>


<a class="btn btn-danger" href="/Cuenta/Index">Volver a Cuentas</a>
<hr />



<table class="table">
    <thead>
        <tr>
            <th>Cuenta</th>
            <th>Fecha y Hora</th>
            <th>Descripcion</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ingreso in Model)
        {
            <tr>
                <td>@ingreso.CuentaRemitente</td>
                <td>@ingreso.Fecha</td>
                <td>@ingreso.Descripcion</td>
                <td>@ingreso.Monto</td>
            </tr>
        }
    </tbody>
</table>