﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



@{
    ViewBag.Title = "Lista de Gastos";
}
<a class="btn btn-danger" href="/Cuenta/Index">Volver a Cuentas</a>
<hr />

<h2>Lista de Gastos de la cuenta: @ViewBag.Cuenta.Nombre</h2>


<table class="table">
    <thead>
        <tr>
            <th>Cuenta</th>
            <th>Fecha y Hora</th>
            <th>Descripcion</th>
            <th>Monto</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var gasto in Model)
        {
            <tr>
                <td>@gasto.CuentaDestino</td>
                <td>@gasto.Fecha</td>
                <td>@gasto.Descripcion</td>
                <td>@gasto.Monto</td>
            </tr>
        }
    </tbody>
</table>
