﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewBag.Title = "Amigos";
}
<a class="btn btn-danger" href="/Cuenta/Index">Volver a Cuentas</a>
<hr />

<h2>Solicitudes de amistad</h2>


<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in ViewBag.Solicitudes)
        {

            <tr>
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido</td>
                <td>@usuario.Email</td>
                <td><a class="btn btn-primary" href="/Cuenta/AceptarSolicitud?id=@usuario.Id">Aceptar Solicitud</a></td>
            </tr>

        }
    </tbody>
</table>

<hr />

<h2>Amigos</h2>


<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usuario in ViewBag.Amigos)
        {

            <tr>
                <td>@usuario.Nombre</td>
                <td>@usuario.Apellido</td>
                <td>@usuario.Email</td>
                <td><a class="btn btn-primary" href="/Cuenta/TransferenciaAmigo?id=@usuario.Id">Enviar Dinero</a></td>
           
            </tr>

        }
    </tbody>
</table>
