﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@{
    ViewBag.Title = "Index";
}


<h2>Cuentas</h2>

<a id="botonCuenta" class="btn btn-danger" href="/Cuenta/Crear">Crear Cuenta</a>

<a class="btn btn-success" href="/Cuenta/Ingresar"> Registrar Ingreso</a>

<a class="btn btn-success" href="/Cuenta/Gastar"> Registrar Gasto</a>

<a class="btn btn-success" href="/Cuenta/TransferenciaCuentas"> Transferencia entre mis cuentas</a>

<a class="btn btn-success" href="/Cuenta/IndexUsuarios"> Otros Usuarios</a>

<a class="btn btn-warning" href="/Cuenta/IndexAmigos"> Amigos</a>



<a class="btn btn-danger" href="/Auth/Logout"> Salir</a>

<br />
<br />

<p>Saldo propio total: S/. @ViewBag.Propio</p>

<p>Cuanto puedo gastar: S/. @ViewBag.Credito</p>
<hr />
<table class="table" id="TablaCuentas">
    <thead>
        <tr>
            <th>Cuenta</th>
            <th>Categoria</th>
            <th>Saldo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cuenta in Model)
        {
            <tr>
                <td>@cuenta.Nombre</td>
                <td>@cuenta.Categoria</td>
                <td>S/. @cuenta.SaldoInicial</td>
                <td>
                    <a id="botonIngreso" class="btn btn-success" href="/Cuenta/IndexIngresos?id=@cuenta.Id">Ingresos</a>

                    <a id="botonGasto" class="btn btn-danger" href="/Cuenta/IndexGastos?id=@cuenta.Id">Gastos</a>
                </td>
            </tr>
        }
    </tbody>
</table>
