﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/auth/login" method="post">

    @if (TempData["AuthMessage"] != null)
    {
        <p id="AuthMessage">@TempData["AuthMessage"]</p>
    }

    <label>Usuario</label>
    <input type="text" name="Email" value="" placeholder="Email"/>
    <label>Contraseña</label>
    <input type="password" name="Password" value="" placeholder="Password"/>
    <button class="btn btn-success">Iniciar Sesión</button>
</form>
<a href="/auth/registrar"><u> Registrate </u></a>
