﻿
<form action="/auth/registrar" method="post">

    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="Nombre" value="" class="form-control"/>
    </div>


    <div class="form-group">
        <label>Apellido</label>
        <input type="text" name="Apellido" value="" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" name="Email" value="" class="form-control"/>

    </div>
    <div class="form-group">
        <label>Contraseña</label>
        <input type="password" name="PasswordConf" value="" class="form-control"/>
    </div>



    <button class="btn btn-success">Registrar</button>
</form>